[alias]
    ll = log --oneline  # list logs
    last = log -1 HEAD

    # If the alias expansion is prefixed with an exclamation point,
    # it will be treated as a shell command. Note that shell commands
    # will be executed from the top-level directory of a repository,
    # which may not necessarily be the current directory.
    undo = !git reset HEAD~1 --mixed  # Undo last commit
    amend = !git commit --amend --no-edit

